<!doctype html>
{% load staticfiles %}
 <html>
    <head>
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'login-style.css' %}">

    </head>
    <body>

        <section class="first-gallery-section">
          <div class="container">
              <div class="col-md-12">
                <div class="text-content">
                  <h2>Pendragon</h2>
                  <div class="line-dec"></div>
                  <span>Digital Services Group</span><br><br>
                </div>    
                    {% if form.non_field_errors %}
                  
                    <div class="alert alert-light" role="alert" align="right">
                    
                    {% for error in form.non_field_errors %}
                        <p{% if forloop.last %} class="mb-0" {% endif %}>
                        {{ error }}</p>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
        
                    <div class="row">
    
                    
                    
                    <form method="post" novalidate align="right">
                        {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}">
                            <div class="text-content" style="display: inline" align="right">
                            Username:</div>  {{ form.username }}<br><br>
                            <div class="text-content" style="display: inline" align="right">
                            Password:</div>  {{ form.password }}<br><br>
                            <button type="submit" class="btn btn-primary" align="right">Log in</button>
                    </form>
             

                  
                </div>
              </div>
            </div>
          </div>
        </section>

        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p>Copyright &copy; 2019 ZEBRA</p>
              </div>
            </div>
          </div>
        </footer>

    </body>
</html>

