
<!DOCTYPE html>
{% load staticfiles %}

<head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Create Task</title>

        <!-- load stylesheets -->
        <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">                                      <!-- Bootstrap style -->
        <link rel="stylesheet" href="{% static 'magnific-popup.css' %}">                                <!-- Magnific pop up style, http://dimsemenov.com/plugins/magnific-popup/ -->
        <link rel="stylesheet" href="{% static 'main-style.css' %}">
</head>




<body>
    <div class="container">
        <div class="row">
            <div class="tm-left-right-container">
                <div class="tm-blue-bg tm-left-column">
                    <div class="tm-logo-div text-xs-center">
                        <h1 class="tm-site-name">PENDRAGON</h1>
                    </div>

                </div>

                <!-- Right column: content -->
                <div class="tm-right-column">
                    <div class="tm-content-div">
                        <!-- Product Backlog section -->
                        <form method="POST" action="">
                            <h3 style="font-family:Arial, sans-serif; color:black;">Create Task</h3>
                            <hr>
                            <br>
                            {% csrf_token %}
                            <table border="1">
                                {{ form }}
                            </table>
                            <br>
                            <input class="button" type="submit" value="Save"><br><br>
                            <input class="button" type="button" onclick="location.href='../../'" value="Back"><br><br>
                        </form>
                      </div>
                    </div>
                    <!-- Logout-->



                  </body>
