
<!doctype html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>DSG BACKTRACK</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'login-style.css' %}">

</head>
<body>

    <section class="first-gallery-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-content">
                        <h3>PENDRAGON</h3>
                        <div class="line-dec"></div>
                        <span>Manager</span>
                        <div class="primary-button">
                            <br>
                            <p>Projects</p>
                            <ul>
                                {% for p in project %}
                                <li><a class="btn btn-primary" href="{{project.projectID}}/main">{{p.title}}</a></li>
                                {% empty %}
                                <li>You Do Not have Any Project</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    </html>
