<!--not finished very draft i m trying n learning sorry......-->

<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">

    <title>Create Project</title>
</head>

<body>

    <form action="/       " method="post">
        <h1 style="font-family:Arial, sans-serif; color:black;">Project Creation</h1>
        <hr>
        <br>
        Title: <input type="text" value="   "><br><br>
        Description: <br><textarea rows="6" cols="50"></textarea><br>
        <br><br>
        Developers: <br>
        Managers: <br><br>

        <input type="submit" value="Submit"><br>
    </form>

</body>
</html>