<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'createsprint.css' %}" ,type="text/css">
    <title>Create Sprint</title>
</head>
<body style="background-image: linear-gradient(to right, #010c4d 50%, #ffffff 50%)">
<form method="POST" action="">
    <h3 style="font-family:Arial, sans-serif; color:black;">Create Sprint</h3>
    <hr>
    <br>
    {% csrf_token %}
    <table border="1">
        {{ form }}
    </table>
    <br>
    <input class="button" type="submit" value="Save"><br><br>
    <input class="button" type="button" onclick="location.href='.'" " value="Back"><br><br>
</form>
</html>
