<!DOCTYPE html>
{% load staticfiles %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <script>
    alert('{{message}}')
    </script>
    {% endfor %}
</ul>
{% endif %}
<html>
<head>
  <meta charset="utf-8">
   <link rel="stylesheet" href="{% static 'onepbi.css' %}",type="text/css">
  <title>PBI: {{pbi.title}}</title>
</head>

<body>

<form name="Pbi">

<h3> Title:{{pbi.title}} </h3>
<hr>
<p>Status: {{pbi.status}}</p>
<p>Description:{{pbi.description}}</p>
<p>Priority: {{pbi.priority}}</p>
<p>Estimated Story Point:{{pbi.storyPt}}</p>
<p>TeamID: {{pbi.teamID}}</p>


<input class="button" type="button" onclick="location.href='mod'" value="Modify"><br><br>
<input class="button" type="button" onclick="location.href='./bringPbi'" value="Add to Current Sprint"><br><br>
<input class="button" type="button" onclick="location.href='../../'" value="Back"><br><br>

</form>
</body>
</html>
